/* line 3, ../sass/custom.sass */
body {
  background-color: black;
}

/* line 6, ../sass/custom.sass */
.container {
  border: 1px solid white;
  height: 960px;
  margin: 0 auto;
  width: 812px;
}
/* line 12, ../sass/custom.sass */
.container .content {
  height: 709px;
  margin-bottom: 3px;
  width: 100%;
  background-image: url(../img/fondo-no-fan.jpg);
}
/* line 18, ../sass/custom.sass */
.container .content section {
  display: none;
}
/* line 21, ../sass/custom.sass */
.container .content section.section-no-fan {
  display: block;
}
/* line 24, ../sass/custom.sass */
.container .footer {
  height: 248px;
  width: 100%;
}
