/* line 3, ../sass/custom.sass */
body {
  background-color: black;
}

/* line 6, ../sass/custom.sass */
.container {
  border: 1px solid white;
  height: 960px;
  margin: 0 auto;
  width: 812px;
}
/* line 12, ../sass/custom.sass */
.container .content {
  background-image: url(../img/fondo-no-fan.jpg);
  height: 709px;
  margin-bottom: 3px;
  width: 100%;
}
/* line 17, ../sass/custom.sass */
.container .content section {
  height: 709px;
  display: none;
}
/* line 21, ../sass/custom.sass */
.container .content section.section-no-fan article {
  background-image: url(../img/contenedor-no-fan.png);
  background-repeat: no-repeat;
  height: 360px;
  margin: 0 auto;
  padding: 55px 5px 0 5px;
  position: relative;
  text-align: center;
  width: 284px;
}
/* line 30, ../sass/custom.sass */
.container .content section.section-no-fan .top-logo {
  left: 25px;
  position: absolute;
  top: -150px;
  width: 260px;
}
/* line 35, ../sass/custom.sass */
.container .content section.section-no-fan .mesa-roja {
  margin-left: -40px;
}
/* line 37, ../sass/custom.sass */
.container .content section.section-no-fan footer {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
  font-size: 1.19em;
  font-weight: 600;
  margin: 10px auto;
  padding: 3px 0;
  text-align: center;
  width: 260px;
}
/* line 47, ../sass/custom.sass */
.container .content section.section-no-fan div.space {
  width: 100%;
  height: 165px;
}
/* line 50, ../sass/custom.sass */
.container .content section.section-fan {
  background-image: url(../img/fondo-mesa.jpg);
}
/* line 52, ../sass/custom.sass */
.container .content section.section-fan article {
  background-image: url(../img/contenedor-fan.png);
  background-repeat: no-repeat;
  height: 460px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
  text-align: center;
  width: 329px;
}
/* line 61, ../sass/custom.sass */
.container .content section.section-fan .top-logo {
  left: -30px;
  position: absolute;
  top: -142px;
  width: 391px;
}
/* line 66, ../sass/custom.sass */
.container .content section.section-fan footer {
  margin: 10px auto;
  padding: 3px 0;
  text-align: center;
  width: 260px;
}
/* line 71, ../sass/custom.sass */
.container .content section.section-fan footer img:hover {
  cursor: pointer;
}
/* line 73, ../sass/custom.sass */
.container .content section.section-fan div.space {
  width: 100%;
  height: 123px;
}
/* line 76, ../sass/custom.sass */
.container .content section.section-formulario {
  display: block;
  background-image: url(../img/fondo-mesa.jpg);
}
/* line 79, ../sass/custom.sass */
.container .content section.section-formulario article {
  background-image: url(../img/contenedor-formulario.png);
  background-repeat: no-repeat;
  height: 460px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
  text-align: left;
  width: 430px;
}
/* line 88, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input {
  height: 22px;
  margin-top: 20px;
  position: relative;
  width: 100%;
}
/* line 93, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div {
  position: relative;
  display: inline-block;
  text-align: left;
}
/* line 97, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div .border {
  border: 1px solid #fea200;
  border-top: 0;
  bottom: 0;
  height: 10px;
  position: absolute;
  width: 192px;
}
/* line 104, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div .border.error {
  border: 1px solid #fb2600;
  border-top: 0;
}
/* line 107, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div .border.dia {
  left: 1px;
  width: 57px;
}
/* line 110, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div .border.mes {
  left: 69px;
  width: 57px;
}
/* line 113, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div .border.ano {
  left: 137px;
  width: 57px;
}
/* line 116, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div.text {
  color: #fea200;
  padding-right: 3px;
  text-align: right;
  width: 177px;
}
/* line 121, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div input {
  background: transparent;
  color: white;
  border: 0;
  padding: 0 0 1px 5px;
}
/* line 126, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div input.dia, .container .content section.section-formulario article .cusquena-input > div input.mes, .container .content section.section-formulario article .cusquena-input > div input.ano {
  margin-left: 9px;
  width: 50px;
}
/* line 129, ../sass/custom.sass */
.container .content section.section-formulario article .cusquena-input > div input.dia {
  margin-left: 0;
}
/* line 131, ../sass/custom.sass */
.container .content section.section-formulario article .terminos {
  bottom: 30px;
  color: white;
  font-size: 12px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 139, ../sass/custom.sass */
.container .content section.section-formulario article .terminos .error {
  color: #fb2600;
}
/* line 141, ../sass/custom.sass */
.container .content section.section-formulario article .terminos a {
  color: #fea200;
}
/* line 143, ../sass/custom.sass */
.container .content section.section-formulario .top-logo {
  left: 18px;
  position: absolute;
  top: -142px;
  width: 391px;
}
/* line 148, ../sass/custom.sass */
.container .content section.section-formulario footer {
  margin: 10px auto;
  padding: 3px 0;
  text-align: center;
  width: 260px;
}
/* line 153, ../sass/custom.sass */
.container .content section.section-formulario footer img:hover {
  cursor: pointer;
}
/* line 155, ../sass/custom.sass */
.container .content section.section-formulario div.space {
  width: 100%;
  height: 123px;
}
/* line 158, ../sass/custom.sass */
.container .content .enunciado {
  color: #fea200;
  font-size: 1.7em;
  font-weight: 600;
}
/* line 162, ../sass/custom.sass */
.container .content .enunciado.white {
  color: white;
}
/* line 165, ../sass/custom.sass */
.container > footer {
  color: white;
  height: 248px;
  width: 100%;
}
/* line 169, ../sass/custom.sass */
.container > footer h3 {
  text-align: center;
  letter-spacing: 13px;
}
/* line 172, ../sass/custom.sass */
.container > footer article {
  font-size: 0.8em;
}
/* line 174, ../sass/custom.sass */
.container > footer article img, .container > footer article span {
  display: inline-block;
  vertical-align: middle;
}
/* line 177, ../sass/custom.sass */
.container > footer article img {
  width: 170px;
  margin: 0 15px;
}
/* line 180, ../sass/custom.sass */
.container > footer article span {
  width: 600px;
}
/* line 182, ../sass/custom.sass */
.container .boton-que-gano {
  display: none;
}
/* line 184, ../sass/custom.sass */
.container .text-center {
  text-align: center;
}
