/* line 3, ../sass/custom.sass */
body {
  background-color: black;
}

/* line 6, ../sass/custom.sass */
.container {
  border: 1px solid white;
  height: 960px;
  margin: 0 auto;
  width: 812px;
}
/* line 12, ../sass/custom.sass */
.container .content {
  background-image: url(../img/fondo-no-fan.jpg);
  height: 709px;
  margin-bottom: 3px;
  width: 100%;
}
/* line 17, ../sass/custom.sass */
.container .content section {
  height: 709px;
  display: none;
}
/* line 21, ../sass/custom.sass */
.container .content section.section-no-fan article {
  background-image: url(../img/contenedor-no-fan.png);
  background-repeat: no-repeat;
  height: 360px;
  margin: 0 auto;
  padding: 55px 5px 0 5px;
  position: relative;
  text-align: center;
  width: 284px;
}
/* line 30, ../sass/custom.sass */
.container .content section.section-no-fan .top-logo {
  left: 25px;
  position: absolute;
  top: -150px;
  width: 260px;
}
/* line 35, ../sass/custom.sass */
.container .content section.section-no-fan .mesa-roja {
  margin-left: -40px;
}
/* line 37, ../sass/custom.sass */
.container .content section.section-no-fan footer {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
  font-size: 1.19em;
  font-weight: 600;
  margin: 10px auto;
  padding: 3px 0;
  text-align: center;
  width: 260px;
}
/* line 47, ../sass/custom.sass */
.container .content section.section-no-fan div.space {
  width: 100%;
  height: 165px;
}
/* line 50, ../sass/custom.sass */
.container .content section.section-fan {
  background-image: url(../img/fondo-mesa.jpg);
}
/* line 52, ../sass/custom.sass */
.container .content section.section-fan article {
  background-image: url(../img/contenedor-fan.png);
  background-repeat: no-repeat;
  height: 460px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
  text-align: center;
  width: 329px;
}
/* line 61, ../sass/custom.sass */
.container .content section.section-fan .top-logo {
  left: -30px;
  position: absolute;
  top: -142px;
  width: 391px;
}
/* line 66, ../sass/custom.sass */
.container .content section.section-fan footer {
  margin: 10px auto;
  padding: 3px 0;
  width: 260px;
}
/* line 70, ../sass/custom.sass */
.container .content section.section-fan footer:hover {
  cursor: pointer;
}
/* line 72, ../sass/custom.sass */
.container .content section.section-fan div.space {
  width: 100%;
  height: 123px;
}
/* line 75, ../sass/custom.sass */
.container .content .enunciado {
  color: #fea200;
  font-size: 1.7em;
  font-weight: 600;
}
/* line 79, ../sass/custom.sass */
.container .content .enunciado.white {
  color: white;
}
/* line 82, ../sass/custom.sass */
.container > footer {
  color: white;
  height: 248px;
  width: 100%;
}
/* line 86, ../sass/custom.sass */
.container > footer h3 {
  text-align: center;
  letter-spacing: 13px;
}
/* line 89, ../sass/custom.sass */
.container > footer article {
  font-size: 0.8em;
}
/* line 91, ../sass/custom.sass */
.container > footer article img, .container > footer article span {
  display: inline-block;
  vertical-align: middle;
}
/* line 94, ../sass/custom.sass */
.container > footer article img {
  width: 170px;
  margin: 0 15px;
}
/* line 97, ../sass/custom.sass */
.container > footer article span {
  width: 600px;
}
/* line 99, ../sass/custom.sass */
.container .boton-que-gano {
  display: none;
}
/* line 101, ../sass/custom.sass */
.container .text-center {
  text-align: center;
}
