@import compass
body
    background-color: #000
.container
    border: 1px solid #fff //temporary
    height: 960px
    margin: 0 auto
    width: 812px
    .content
        background-image: url(../img/fondo-no-fan.jpg)
        height: 709px
        margin-bottom: 3px
        position: relative
        width: 100%
        section
            height: 709px
            display: none
            position: relative
            &.section-no-fan
                article
                    background-image: url(../img/contenedor-no-fan.png)
                    background-repeat: no-repeat
                    height: 360px
                    margin: 0 auto
                    padding: 55px 5px 0 5px
                    position: relative
                    text-align: center
                    width: 284px
                .top-logo
                    left: 25px
                    position: absolute
                    top: -150px
                    width: 260px
                .mesa-roja
                    margin-left: -40px
                footer
                    border-bottom: 2px solid #fff
                    border-top: 2px solid #fff
                    color: #fff
                    font-size: 1.19em
                    font-weight: 600
                    margin: 10px auto
                    padding: 3px 0
                    text-align: center
                    width: 260px
                div.space
                    width: 100%
                    height: 165px
            &.section-fan, &.section-mesa-roja, &.section-inscrito
                background-image: url(../img/fondo-mesa.jpg)
                article
                    background-image: url(../img/contenedor-fan.png)
                    background-repeat: no-repeat
                    height: 460px
                    margin: 0 auto
                    padding-top: 55px
                    position: relative
                    text-align: center
                    width: 329px
                .top-logo
                    left: -30px
                    position: absolute
                    top: -142px
                    width: 391px
                footer
                    margin: 10px auto
                    padding: 3px 0
                    text-align: center
                    width: 260px
                    img:hover
                        cursor: pointer
                div.space
                    width: 100%
                    height: 123px
            &.section-inscrito
                background-image: url(../img/fondo-mesa.jpg)
                background-position: -2433px 0
                display: block
                article
                    background-image: url(../img/contenedor-fan-inscrito.png)
                    height: 260px
                    padding-top: 360px
                    width: 347px
            &.section-mesa-roja
                background-image: url(../img/fondo-mesa.jpg)
                background-position: -1622px 0
                .top-logo
                    left: 209px
                    position: absolute
                    top: -17px
                    width: 391px
                    z-index: 10
                .imagen-recuadro
                    height: 100px
                    position: absolute
                    width: 100px
                    z-index: 1
                    &.amigo-1
                        left: 83px
                        top: 252px
                    &.amigo-2
                        left: 264px
                        top: 252px
                    &.amigo-3
                        left: 441px
                        top: 252px
                    &.amigo-4
                        left: 621px
                        top: 252px
                    &.amigo-5
                        left: 83px
                        top: 505px
                    &.amigo-6
                        left: 264px
                        top: 505px
                    &.amigo-7
                        left: 441px
                        top: 505px
                    &.amigo-8
                        left: 621px
                        top: 505px
                    img
                        position: absolute
                        right: -17px
                        top: -18px
                article
                    color: #fff
                    height: 500px
                    padding-top: 65px
                    z-index: 2
                    div.space
                        height: 335px
            &.section-formulario
                background-image: url(../img/fondo-mesa.jpg)
                background-position: -811px 0
                article
                    background-image: url(../img/contenedor-formulario.png)
                    background-repeat: no-repeat
                    height: 460px
                    margin: 0 auto
                    padding-top: 55px
                    position: relative
                    text-align: left
                    width: 430px
                    .terminos
                        bottom: 30px
                        color: #fff
                        font-size: 12px
                        left: 0
                        position: absolute
                        text-align: center
                        width: 100%
                        .error
                            color: #FB2600
                        a
                            color: #FEA200
                .top-logo
                    left: 18px
                    position: absolute
                    top: -142px
                    width: 391px
                footer
                    margin: 10px auto
                    padding: 3px 0
                    text-align: center
                    width: 260px
                    img:hover
                        cursor: pointer
                div.space
                    width: 100%
                    height: 123px
            &.section-terminos-y-condiciones
                background: #000
                article
                    background-repeat: no-repeat
                    border: 1px solid #fff
                    height: 460px
                    margin: 0 auto
                    padding-top: 55px
                    position: relative
                    text-align: center
                    width: 510px
                .top-logo
                    left: 55px
                    position: absolute
                    top: -142px
                    width: 391px
                .scroll
                    border: 1px solid #fff
                    color: #fff
                    height: 410px
                    margin: 0 10px
                    text-align: left
                    width: 490px
                footer
                    margin: 10px auto
                    padding: 3px 0
                    text-align: center
                    width: 260px
                    img:hover
                        cursor: pointer
                div.space
                    width: 100%
                    height: 123px
            &.section-que-gano 
                background: #000
                article
                    background-repeat: no-repeat
                    height: 300px
                    margin: 0 auto
                    padding-top: 55px
                    position: relative
                    text-align: center
                    width: 510px
                .top-logo
                    left: 55px
                    position: absolute
                    top: -142px
                    width: 391px
                .premios
                    color: #fff
                    font-size: 1.2em
                    margin: 30px auto 0
                    text-align: left
                    width: 200px
                footer
                    margin: 10px auto
                    padding: 3px 0
                    text-align: center
                    width: 260px
                    img:hover
                        cursor: pointer
                div.space
                    width: 100%
                    height: 123px
            .cusquena-input
                height: 22px
                margin-top: 20px
                position: relative
                width: 100%
                > div
                    position: relative
                    display: inline-block
                    text-align: left
                    .border
                        border: 1px solid #FEA200
                        border-top: 0
                        bottom: 0
                        height: 10px
                        position: absolute
                        width: 192px
                        &.error
                            border: 1px solid #FB2600
                            border-top: 0
                        &.dia
                            left: 1px
                            width: 57px
                        &.mes
                            left: 69px
                            width: 57px
                        &.ano
                            left: 137px
                            width: 57px
                    &.text
                        color: #FEA200
                        padding-right: 3px
                        text-align: right
                        width: 177px
                    input
                        background: transparent
                        color: #fff
                        border: 0
                        padding: 0 0 1px 5px
                        &.dia, &.mes, &.ano
                            margin-left: 9px
                            width: 50px
                        &.dia
                            margin-left: 0
        .enunciado
            color: #fea200
            font-size: 1.7em
            &.white
                color: #fff
            &.little
                font-size: 1.4em
    > footer
        color: #999
        height: 248px
        width: 100%
        h3
            text-align: center
            letter-spacing: 13px
        hr
            border-top: 1px solid #2e2e2e
            margin: 1em 40px
        img, p
            +inline-block
        img
            margin: 0 20px
            width: 168px
        p
            font-size: 12px
            width: 558px
    .boton-que-gano
        display: none
    .text-center
        text-align: center
