@import compass

body
    background-color: #000

.container
    border: 1px solid #fff //temporary
    height: 960px
    margin: 0 auto
    width: 812px

    .content
        background-image: url(../img/fondo-no-fan.jpg)
        height: 709px
        margin-bottom: 3px
        width: 100%
        section
            height: 709px
            display: none
            &.section-no-fan
                article
                    background-image: url(../img/contenedor-no-fan.png)
                    background-repeat: no-repeat
                    height: 360px
                    margin: 0 auto
                    padding: 55px 5px 0 5px
                    position: relative
                    text-align: center
                    width: 284px
                .top-logo
                    left: 25px
                    position: absolute
                    top: -150px
                    width: 260px
                .mesa-roja
                    margin-left: -40px
                footer
                    border-bottom: 2px solid #fff
                    border-top: 2px solid #fff
                    color: #fff
                    font-size: 1.19em
                    font-weight: 600
                    margin: 10px auto
                    padding: 3px 0
                    text-align: center
                    width: 260px
                div.space
                    width: 100%
                    height: 165px
            &.section-fan
                background-image: url(../img/fondo-mesa.jpg)
                article
                    background-image: url(../img/contenedor-fan.png)
                    background-repeat: no-repeat
                    height: 460px
                    margin: 0 auto
                    padding-top: 55px
                    position: relative
                    text-align: center
                    width: 329px
                .top-logo
                    left: -30px
                    position: absolute
                    top: -142px
                    width: 391px
                footer
                    margin: 10px auto
                    padding: 3px 0
                    width: 260px
                    &:hover
                        cursor: pointer
                div.space
                    width: 100%
                    height: 123px
        .enunciado
            color: #FEA200
            font-size: 1.7em
            font-weight: 600
            &.white
                color: #fff

    > footer
        color : #fff
        height: 248px
        width: 100%
        h3
            text-align: center
            letter-spacing: 13px
        article
            font-size: 0.8em
            img, span
                display: inline-block
                vertical-align: middle
            img
                width: 170px
                margin: 0 15px
            span
                width: 600px
    .boton-que-gano
        display: none
    .text-center
        text-align: center

    